#mapPic{

position: fixed;
left: 0px;
top: 0px;


}

#outerPtr{
	position: fixed;
	background: radial-gradient(90% 90%, #000000, #FFFFFF);
	opacity: 0;
}

#ptr{
	position: fixed;
	color: white;
	text-shadow: black 1.5px 1.5px;
	text-align: center;
	opacity: 0;

}


#infoBox{
	border: 2px dotted black;
	position: fixed;
	text-align: center;
	text-shadow: rgba(107, 0, 0, 0.3) 1px 1px;
	z-index: 9999991;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}

#rBut{
	position: fixed;
	transition: background-color 0.2s;
	background-color: rgb(122, 255, 115);
	border: 2px inset lime;
	z-index: 9999992;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;

}

#rBut:hover{
	background-color: rgb(111, 242, 134);
	border: 2px inset limegreen;
}

#rBut:active{
	background-color: rgb(57, 255, 240);
	border: 2px inset hotpink;
}